- short_label    = false unless local_assigns.has_key?(:short_label)
- show_name_orig = false unless local_assigns.has_key?(:show_name_orig)

- unless doujinshi
  .mt-6.is-italic.has-text-centered nothing to see here
- else
  - if session[:dj_index_detail] == 'thumbs'
    - if doujinshi.is_a?(ActiveRecord::Relation)
      - doujinshi.find_each_slice_in_order(DoujinshiController::THUMBS_PER_ROW, batch_size: DoujinshiController::BATCH_SIZE) do |s|
        = render partial: 'thumbs_row',
          locals: {doujinshi: s, short_label: short_label, show_name_orig: show_name_orig}
    - elsif doujinshi.is_a?(Array)
      - doujinshi.each_slice(DoujinshiController::THUMBS_PER_ROW) do |s|
        = render partial: 'thumbs_row', locals: {doujinshi: s, short_label: short_label, show_name_orig: show_name_orig}
    - else
      unknown object to render
  - else
    %img#sample_cover.is-hidden
    
    %table.dj-details.table.is-striped.is-narrow.is-fullwidth
      %thead
        %tr
          %th ⭐
          %th Name
          %th Pag.
          %th Size
          %th Fav
      %tbody
        - if doujinshi.is_a?(ActiveRecord::Relation)
          - doujinshi.find_each_in_order(batch_size: DoujinshiController::BATCH_SIZE) do |d|
            = render partial: 'thumbs_table_row', locals: {d: d, short_label: short_label, show_name_orig: show_name_orig}
        - elsif doujinshi.is_a?(Array)
          - doujinshi.each do |d|
            = render partial: 'thumbs_table_row', locals: {d: d, short_label: short_label, show_name_orig: show_name_orig}
        - else
          unknown object to render
