- short_label    = false unless local_assigns.has_key?(:short_label)
- show_name_orig = false unless local_assigns.has_key?(:show_name_orig)

- descr = short_label ? d.label_name_latin : d.file_dl_name(omit_ext: true)
.doujin<>
  .cover<>= link_to image_tag(doujin_path(d, format: :jpg),
    class: :thumb, loading: :lazy, decoding: :async), doujin_path(d)
  .descr<>
    - if d.read_pages.to_i > 0
      %span.read-perc<>= d.percent_read.to_i == 100 ? '&#10003;'.html_safe : "#{d.percent_read.round}%"
    - if d.score.to_i > 0
      %span.score<>= "#{d.score.to_i}&hearts;".html_safe
    %tt= "#{d.category[0].upcase}:" if show_categ && DoujinshiController::ICONS[d.category]
    %span.name<>= descr
