- short_label    = false unless local_assigns.has_key?(:short_label)
- show_name_orig = false unless local_assigns.has_key?(:show_name_orig)
- show_categ     = false unless local_assigns.has_key?(:show_categ)
- local_vars     = { short_label: short_label, show_name_orig: show_name_orig,
                     show_categ: show_categ }

- unless doujinshi
  .mt-6.is-italic.has-text-centered nothing to see here
- else
  - if session[:dj_index_detail] == 'thumbs'
    .columns.is-mobile.is-multiline.thumbs.freezeframe
      - if doujinshi.is_a?(ActiveRecord::Relation)
        - doujinshi.find_in_batches_in_order(batch_size: DoujinshiController::BATCH_SIZE) do |batch|
          = render partial: 'thumbs_row', locals: local_vars.merge(doujinshi: batch)
      - elsif doujinshi.is_a?(Array)
        = render partial: 'thumbs_row', locals: local_vars.merge(doujinshi: doujinshi)
      - else
        .column unknown object to render
  - else
    %img#sample_cover.is-hidden
    
    %table.dj-details.table.is-striped.is-narrow.is-fullwidth
      %thead
        %tr
          %th ⭐
          %th.is-hidden-mobile Read
          %th Name
          %th.is-hidden-mobile Pag.
          %th.is-hidden-mobile Size
          %th.is-hidden-tablet P/S
          %th Fav
      %tbody
        - if doujinshi.is_a?(ActiveRecord::Relation)
          - doujinshi.find_each_in_order(batch_size: DoujinshiController::BATCH_SIZE) do |d|
            = render partial: 'thumbs_table_row', locals: local_vars.merge(d: d)
        - elsif doujinshi.is_a?(Array)
          - doujinshi.each do |d|
            = render partial: 'thumbs_table_row', locals: local_vars.merge(d: d)
        - else
          unknown object to render
