= form_with url: add_files_process_path(id: @info[:working_dir]), method: :post, multipart: true,
  html: {style: "display: inline-block"} do |f|
  = hidden_field_tag :tab, params[:tab]

  .file
    %label.file-label
      = f.file_field :files, multiple: true, class: 'file-input',
        onchange: "jQuery(this).parents('.file:first').next().addBack().toggleClass('is-hidden'); this.form.submit()"
      %span.file-cta
        %span.file-icon
          %i.mi archive
        %span.file-label
          Inject files
  %progress.progress.is-small.is-info.is-hidden(max="100" style="width: 10rem") i
