.is-inline-flex.is-hidden-mobile
  .field.has-addons
    %p.control
      = link_to sample_images_process_index_path(path: fname),
        title: 'view sample images', target: :_blank,
        class: 'button is-info is-rounded is-small tiny-bt' do
        %span.icon.is-small
          %i.mi.mi-small casino
    %p.control
      = link_to show_externally_process_index_path(path: fname, run: :comics_viewer, format: :json),
        title: 'read with external viewer',
        remote: true, class: 'button run-progr is-info is-rounded is-small tiny-bt' do
        %span.icon.is-small
          %i.mi.mi-small launch
    %p.control
      = link_to show_externally_process_index_path(path: fname, run: :file_manager, format: :json),
          title: 'open in file manager',
          remote: true, class: 'button run-progr is-info is-rounded is-small tiny-bt' do
        %span.icon.is-small
          %i.mi.mi-small folder

.is-inline-flex.is-hidden-desktop
  %p.control
    = link_to sample_images_process_index_path(path: fname),
      title: 'view sample images', target: :_blank,
      class: 'button is-info is-rounded is-small tiny-bt' do
      %span.icon.is-small
        %i.mi.mi-small casino
