.columns
  .column.is-half
    .actions.field.is-grouped
      .field.has-addons
        %p.control= link_to 'Back', {action: :index}, class: 'button is-info is-rounded'
        
        - if params[:action] == 'edit'
          %p.control= link_to 'Show', {action: :show, id: @record.id}, class: 'button is-info is-rounded'

        - if params[:action] == 'show'
          %p.control
            = link_to({action: :edit, id: @record.id}, class: 'button is-primary is-rounded') do
              %span.icon
                %i.mi.mi-small edit
              %span Edit
  .column
    .actions.field
      - if @record.persisted?
        .field.has-addons.is-justify-content-flex-end
          %p.control
            = link_to({action: :destroy, id: @record.id},
              method: :delete, data: { confirm: 'Are you sure?' },
              class: 'button is-danger is-rounded') do
              %span.icon
                %i.mi.mi-small delete
              %span Delete
