body[data-ctrl=doujinshi][data-action=index] {
  .tabs li a {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .doujinshi .descr {
    height: 1rem;
    overflow: hidden;
  }
  
  table.details tr {
    td {
      width: 1%;
      text-align: center;
      white-space: nowrap;
    }
    td:nth-child(2) {
      width: auto;
      text-align: left;
      white-space: normal;
    }
    
    progress {
      width: 2rem;
      border: 1px outset silver;
    }
  }
  
  #sample_cover {
    border: 1px outset silver;
    border-radius: 1rem;
  }
}
