body[data-ctrl="doujinshi"][data-action="index"] {
  .tabs li a {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  
  .columns.thumbs {
    progress { margin: 0; }
    progress[value="0"] { visibility: hidden; }
    
    .descr {
      height: 1.1rem;
      overflow: hidden;
    }
  }
  
  table.details {
    margin-bottom: 300px;
  
    tr {
      progress {
        width: 2rem;
        border: 1px outset silver;
      }
      
      td {
        width: 1%;
        white-space: nowrap;
      }
      td:nth-child(2) {
        width: auto;
        white-space: normal;
      }
    }
    
    tr td:nth-child(3),
    tr td:nth-child(4) {
      text-align: right;
      font-family: monospace;
      font-size: small;
    }
  }
  
  #sample_cover {
    position: absolute;
    border-radius: 1rem;
    border: 1px outset silver;
  }
}
