body[data-ctrl="doujinshi"] {
  .columns.thumbs {
    progress { margin: 0; }
    progress[value="0"] { visibility: hidden; }
    
    .descr {
      height: 1.1rem;
      overflow: hidden;
    }
  }
  
  table.dj-details {
    margin-bottom: 300px;
    
    tr {
      progress {
        width: 2rem;
        border: 1px outset silver;
      }
      
      td {
        width: 1%;
        white-space: nowrap;
      }
      td:nth-child(2) {
        width: auto;
        white-space: normal;
      }
      
      a { display: block; }
    }
    
    tr td:nth-child(3),
    tr td:nth-child(4) {
      text-align: right;
      font-family: monospace;
      font-size: small;
    }
  }
  
  #sample_cover {
    position: absolute;
    border-radius: 1rem;
    border: 1px outset silver;
  }
}

body[data-ctrl="doujinshi"][data-action="index"] {
  .tabs li a {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .menu {
    height:   70vh;
    overflow: auto;
    
    a { display: inline-block; }
    a.entry { width: 85%; }
    a.fav {
      width: 15%;
      float: right;
      text-align: center;
    }
    a.fav.has-text-warning { background-color: rgba(255,255,0,0.1); }
  }
}

body[data-ctrl="doujinshi"][data-action="favorites"] {
  p.menu-label {
    top: 0;
    left: 0;
    position: sticky;
    background-color: #1f2424;
    border-bottom: 1px solid silver;
  }
  
  .column.entries {
    height:   80vh;
    overflow: auto;
  }
}
