/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
//= require      ./components/jQKeyboard

.w1   { width: 1% }
.w100 { width: 100% }
.nowrap { white-space: nowrap; }
.hidden { display: none !important; }
.aright { text-align: right; }
.acenter { text-align: center; }

a, a:visited { color: blue; }

.notification {
  padding: 0.3rem;
  border: 1px inset silver;
}
.notification.is-info    { background-color: #eee; }
.notification.is-warning { background-color: #ccc; }
.notification.is-danger  { background-color: #aaa; }

.main-actions {
  float: right;
  font-weight: bold;
}

table.is-striped thead tr { background-color: #aaa; }
table.is-striped tbody tr:nth-child(even) { background-color: #ccc; }

table.is-checkered thead tr { background-color: #aaa; }
table.is-checkered tbody tr:nth-child(even) td:nth-child(even) { background-color: #ccc; }
table.is-checkered tbody tr:nth-child(odd)  td:nth-child(odd)  { background-color: #ccc; }

.button,
button.jQKeyboardToggle {
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  border: 2px outset silver;
  background-color: #ddd;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.2rem;
}

button.jQKeyboardToggle {
  line-height: 1rem;
  border-radius: 0;
}

.frm-search {
  select {
    padding: 0.2rem;
    border: 3px outset silver;
  }
  
  input[type="text"] {
    height: 1.5rem;
    border: 3px inset silver;
  }
}

// set image size to prevent FOUC
.cover {
  border: 1px solid black;
  border-width: 1px 1px 0 1px;
}
.samples {
  border: 1px solid black;
  border-width: 1px 0px 1px 0;
}
.cover + .descr {
  border: 1px solid black;
  border-width: 0px 1px 1px 1px;
  background-color: #eee;
}
img.thumb {
  width:  160px;
  height: 240px;
}

table.doujin {
  .cover {
    padding-right: 0.5rem;
    border-width: 0 1px 0 0;
  }
  
  td { vertical-align: top; }
  
  td.details th {
    text-align: right;
    vertical-align: top;
  }
  
  td.details td,
  td.details th { padding: 0.3rem; }
  
  .kanji { background-color: #eee; }
  
  .actions { margin-top: 1rem; }
  
  .scoring {
    .set { background-color: #bbb; }
    .set-score {
      padding: 0.2rem;
      padding-left: 0.35rem;
      border-radius: 1rem;
      display: inline-block;
    }
    .clear-score {
      border-radius: 0.5rem;
      padding: 0.2rem 0.5rem;
      border: 1px outset silver;
      display: inline-block;
    }
  }
}

.thumbs .doujin {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width: 170px;
  margin: 0 0.5rem 0.5rem 0;
  
  .descr {
    height: 3rem;
    overflow: hidden;
    font-size: 0.825rem;
    padding: 0 5px;
  }
  
  .score { background-color: #bbb; }
  .read-perc { background-color: #ccc; }
}

table.block-links td a { display: block; }
table.doujinshi.block-links tr td:nth-child(3) {
  padding: 0;
  
  a {
    min-height: 2.5rem;
    padding: 1rem 0.25rem;
  }
}
table.collection-index.block-links td a {
  min-height: 2.5rem;
  padding: 1rem 0.25rem;
  text-align: center;
  text-decoration: none;
}

div.pages, div.size {
  white-space: nowrap;
  text-align: right;
}

a.fav { text-align: center; }
a.fav.is-favorite {
  font-weight: bold;
  background-color: #ccc;
}

table.doujinshi {
  border-collapse: collapse;
  border: 1px outset silver;
  
  td {
    vertical-align: top;
    padding: 0.75rem 0.25rem;
  }
  
  .name-orig, .name-orig-kakasi { font-size: smaller; }
  .name-orig-kakasi { font-family: sans-serif; }
}

.pagination-info { margin-bottom: 0.5rem; }
nav.pagination {
  margin: 0.25rem 0;
  text-align: right;
  
  a, .is-current {
    padding: 0.5rem 0.75rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
    text-decoration: none;
    font-family: monospace;
    display: inline-block;
  }
  .is-current { background-color: #aaa; }
  
  ul.pagination-list {
    float: left;
    margin: 0;
    padding: 0 1rem 0 0;
    
    li { display: inline-block; }
  }
}

body:not([data-env="production"])::before {
  content: "DEVELOPMENT";
  display: block;
  margin:  0;
  padding-top: 0.5rem;
  height: 2rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: monospace;

  // striped background
  background: repeating-linear-gradient(
    -45deg,
    #FFAD00,
    #FFAD00 4rem,
    #1D1D1D 4rem,
    #1D1D1D 8rem
  );
}

body[data-ctrl="home"][data-action="index"] {
  .browse {
    border: 1px solid black;
    border-width: 1px 0;
    padding: 0.3rem 0 0.2rem 0;
    margin-top: 0.2rem;
  }
  
  .single-pick {
    margin-top: 0.5rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid black;
  }
  
  .stats, .recent { margin-top: 1rem; }
  
  span.title {
    font-size: large;
    font-weight: bold;
  }
  
  .recent .thumbs { margin-top: 0.3rem; }

  table.scoring-distro {
    border-collapse: collapse;
    
    tr.bars {
      td { vertical-align: bottom; }
      
      .bar {
        display: inline-block;
        border: 1px solid grey;
        width: 2.5rem;
      }
    }//tr.bars
    
    tr.scores td { border-top: 1px solid black; }
    
    tr.bars   td:first-child,
    tr.percs  td,
    tr.scores td { border-right: 1px solid black; }
    
    tr.percs  td:last-child,
    tr.scores td:last-child { border-right: 0 solid black; }
    
    tr.percs, tr.scores {
      td { text-align: center; }
      td:first-child { text-align: right; }
    }
  }//table.scoring-distro
}

body[data-ctrl="doujinshi"][data-action="index"] {
  li { margin-bottom: 1rem; }

  table.parents {
    border-collapse: collapse;

    td {
      width: 16.66%;
      border: 1px solid black;
      border-width: 0 1px 1px 0;
    }

    tr td:last-child { border-right:  0; }
    tr:last-child td { border-bottom: 0; }
  }
}

body[data-ctrl="doujinshi"][data-action="epub"] {
  table.files {
    border-collapse: collapse;
  
    tr {
      height: 2.5rem;
      
      td { padding: 0.25rem; }
    }
  }
}

// same styles as in EpubConverterJob
body[data-ctrl="doujinshi"][data-action="zip_read"] {
  .main-actions { display: none; }

  margin: 0; padding: 0;
  overflow: hidden;
  
  $bg_colors: #ffffff, #696969, #222222, #000000;
  .bg-white { background: image-url("hourglass.png") center 10% no-repeat, nth($bg_colors, 1); }
  .bg-smoke { background: image-url("hourglass.png") center 10% no-repeat, nth($bg_colors, 2); }
  .bg-dark  { background: image-url("hourglass.png") center 10% no-repeat, nth($bg_colors, 3); }
  .bg-black { background: image-url("hourglass.png") center 10% no-repeat, nth($bg_colors, 4); }
  div.main { background-size: 10vmax 10vmax; }
  #menu {
    .bg-white { background: none; background-color: nth($bg_colors, 1); }
    .bg-smoke { background: none; background-color: nth($bg_colors, 2); }
    .bg-dark  { background: none; background-color: nth($bg_colors, 3); }
    .bg-black { background: none; background-color: nth($bg_colors, 4); }
    
    position: fixed; // top and left set via js
    text-align: center;
    background-color: white;
    border: 0.2rem outset silver;
    border-radius: 1rem;
    
    #page { margin: 0 0.75rem; }
    a.skip { font-family: monospace; }
    
    .title {
      font-size: larger;
      border-bottom: 1px solid black;
    }
    div { margin: 1rem 1.5rem; }
  }
  
  a.set-bg-color {
    color: white;
    font-family: monospace;
  }
  a.set-bg-color.bg-white { color: black; }
  
  div.main, div.main img { margin: 0; padding:0; }
  div.main {
    width:  100vw;
    height: 100vh;
    text-align: center;
    
    img.page.fit-height { height: 100%; margin: 0 auto; }
    img.page.fit-width  { width:  100%; margin: auto 0; }
  }
  
  #pag_num, #zoom, #debug, #pbar, #pbar-bg {
    position: fixed;
    opacity: 0.5;
    font-size: smaller;
    padding: 0 0.25rem;
    border: 1px outset silver;
    background-color: #ccc;
  }
  #pbar, #pbar-bg {
    bottom: 0; left: 0;
    border: 2px outset silver;
    z-index: 10;
  }
  #pbar-bg { width: 100vw; }
  #pbar {
    width: 0vw;
    opacity: 0.8;
  }
  #debug {
    top: 0; left: 0;
    border-width: 1px;
  }
  #pag_num {
    z-index: 9;
    bottom: 3px; right: 0;
    border-width: 1px 0 0 1px;
  }
  #zoom {
    z-index: 9;
    bottom: 3px; left:  0;
    border-width: 1px 1px 0 0;
    padding: 0;
    
    .controls { padding: 0.5rem 0; }
    span {
      cursor: pointer;
      padding: 0.5rem 0.7rem;
    }
    .inc { border-left: 1px dotted black; }
    .perc { text-align: center; }
  }

  #msg {
    position: absolute; // top and left set via js
    font-size: 3rem;
    text-shadow: 0 0 0.5rem #fff;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 0.25rem dotted silver;
  }
  
  table.help {
    position: fixed;
    top:  0;
    left: 0;
    width:  100vw;
    height: 100vh;
  
    border-collapse: collapse;
    
    td {
      text-align: center;
      vertical-align: bottom;
      
      span {
        display: inline-block;
        padding: 1rem;
        margin-bottom: 10rem;
        border: 4px dashed black;
        background-color: white;
        border-radius: 1rem;
      }
    }
    
    td:nth-child(2) {
      border: 4px dotted black;
      border-width: 0 4px 0 4px;
    }
  }
}
