body[data-ctrl="process"][data-action="batch"] {
  .files pre {
    height: 10rem;
    padding: 0.3rem 1rem;
  }
}

body[data-ctrl="process"][data-action="edit"] {
  .src-fname { font-size: x-small; }
  .files-info    { float: left;  }
  .files-actions { float: right; }

  .images {
    input { height: 2rem; }
    
    .column { border-bottom: 1px dotted silver;  }
  }

  .ident {
    .search-results .column.associated .subject {
      border-radius: 0.5rem;
      border: 1px outset silver;
      border-width: 0 0 1px 0;
    }

    .search-results .block {
      padding-left: 0.5rem;
      border-radius: 0.5rem;
      border: 1px outset silver;
    }
    .search-results .block.associated {
      border: 1px inset coral;
      border-width: 0 1px 1px 0;
    }
    
    .search-results .related_names .associated {
      padding: 0 3px;
      border-radius: 0.25rem;
      border: 1px solid coral;
      border-width: 1px 5px;
    }

    .search-results tt {
      float: right;
      font-size: small;
    }
  }
}
