= link_to '#', class: 'button is-info is-small is-rounded', title: 'show changes',
    onclick: %Q|jQuery('.versions.#{field}').toggleClass('is-hidden')| do
  %span.icon.is-small
    %i.mi.mi-small history_toggle_off
