#loading.modal
  .modal-background
  .modal-content

#js-tagger-modal.modal
  .modal-background
  .modal-card
    %header.modal-card-head
      %p.modal-card-title Add tags
      %button.delete.js-tagger-cancel
    %section.modal-card-body
      .columns
        .column.is-half
          .field.is-grouped.is-grouped-multiline.current-tags
        .column.is-half.search-area.left-border
          .control.has-icons-left
            %input.input.is-rounded.js-tagger-term{type: :text, placeholder: :search}
            %span.icon.is-small.is-left
              %i.mi.mi-small search
            %nav.panel.lookup-results
    %footer.modal-card-foot
      %button.button.is-success.js-tagger-set Set
      %button.button.js-tagger-cancel Cancel

#js-finder-modal.modal
  .modal-background
  .modal-card
    %header.modal-card-head
      .modal-card-title
        .columns.is-mobile
          .column
            .field.has-addons
              .control.has-icons-left.is-expanded
                %input.input.is-rounded.search-term{type: :text, placeholder: :search}
                %span.icon.is-small.is-left
                  %i.mi.mi-small search
              .control
                %a.button.is-rounded(onclick="jQuery('#js-finder-modal .search-term').val('').focus()")
                  %span.icon
                    %i.mi backspace
              .control
                %a.button.is-info.is-rounded(onclick="jQuery('#js-finder-modal .search-term').change()")
                  %span.icon
                    %i.mi search
          .column.is-1.has-text-centered
            %button.delete.is-large
    %section.modal-card-body
      .lookup-results.is-size-8

#ehentai-search-modal.modal
  .modal-background
  .modal-card
    %header.modal-card-head
      .modal-card-title
        .columns.is-mobile
          .column
            .field.has-addons
              .control.has-icons-left.is-expanded
                %input.input.is-rounded.search-term{type: :text, placeholder: :search}
                %span.icon.is-small.is-left
                  %i.mi.mi-small search
              .control
                %a.button.is-rounded(onclick="jQuery('#ehentai-search-modal .search-term').val('').focus()")
                  %span.icon
                    %i.mi backspace
              .control
                %a.button.is-info.is-rounded(onclick="jQuery('#ehentai-search-modal .search-term').change()")
                  %span.icon
                    %i.mi search
          .column.is-2.has-text-centered
            %button.delete.is-large.mr-2
    %section.modal-card-body
      .lookup-reference.has-background-dark.py-2
        .columns.is-mobile.is-size-7
          .column.is-4
            %figure.image.is2by3
              %img.reference
          .column.left-border
            .orig_info.tag.is-info.mb-2
            .tag.is-warning.mb-2 current
            .orig_title.has-text-weight-bold
            .orig_title_kakasi.is-italic
      .lookup-results.is-size-8.mt-4

#generic-modal.modal
  .modal-background(onclick="jQuery(this).parent().removeClass('is-active')")
  .modal-card
    %header.modal-card-head
      %p.modal-card-title title
      %button.delete(onclick="jQuery(this).parents('.modal:first').removeClass('is-active')")
    %section.modal-card-body
